@Page
@model APP2000.Models.Nominering.KandidatInformation

@{
    ViewBag.Title = "KandidatInformation";
}
<h1>All information om Kandidatene</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nominering.Fornavn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nominering.Fornavn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nominering.Etternavn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nominering.Etternavn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nominering.Kandidantinfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nominering.Kandidantinfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nominering.Bilde)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nominering.Bilde)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Nominering.ID" />
        <input type="submit" value="Create" class="btn btn-default" />
        <a asp-page="./index">Back to list</a>
    </form>
</div> 