@model IEnumerable<APP2000.Models.DBModel>
@{
    Layout = null;
}

//Legger inn tekst feltene i nominering og edit popup vinduene
@using (Html.BeginForm("AddOrEdit", "Kandidat", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.bruker)
    <div class="form-group">
        @Html.LabelFor(model => model.bruker, new { @class = "control-label" })
        @Html.EditorFor(model => model.bruker, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.bruker)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.fakultet, new { @class = "control-label" })
        @Html.EditorFor(model => model.fakultet, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.institut, new { @class = "control-label" })
        @Html.EditorFor(model => model.institut, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.informasjon, new { @class = "control-label" })
        @Html.EditorFor(model => model.informasjon, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">

        @Html.LabelFor(model => model.stemmer, new { @class = "control-label" })
        @Html.EditorFor(model => model.stemmer, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">

        @Html.LabelFor(model => model.bilde, new { @class = "control-label" })
        @Html.EditorFor(model => model.bilde, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    //Submit og reset knapper
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn" />
    </div>
}
